@charset "UTF-8";

body {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #aaa;
  background-color: #272b30;
  font-size: 2em;
}

.currentBarcode {
  text-align: center;
  color: #7a8288;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.25;
  margin: 1rem 0;
}

button:hover {
  cursor: pointer;
}
